/bin/Debug
/bin/Release/obs_neta_timer.lua
/bin/Release/tmp.js
/obj
/bin/Release/net8.0-windows7.0/Japan zoninfo
/bin/Release/net8.0-windows7.0/dateutil-zoneinfo.tar
/bin/Release/net8.0-windows7.0/zoneinfo
/bin/Release/data.ics
/bin/Release/Newtonsoft.Json.xml
/bin/Release/neta.pdb
/bin/Release/neta_timer.py
/bin/Release/Newtonsoft.Json.dll
/bin/Release/Tokyo
/bin/Release/zonneinfo Tokyo
/bin/Release/neta.exe.config
/bin/Release/neta.exe
/src
/bin/Release/net8.0-windows7.0/runtimes
/Resources
/old
