<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="neta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <neta.Properties.Settings>
            <setting name="st" serializeAs="String">
                <value />
            </setting>
            <setting name="en" serializeAs="String">
                <value />
            </setting>
            <setting name="ibe" serializeAs="String">
                <value />
            </setting>
            <setting name="goog" serializeAs="String">
                <value>プロセカ</value>
            </setting>
            <setting name="lefttimeformat" serializeAs="String">
                <value>dd日hh時間mm分ss秒</value>
            </setting>
            <setting name="datetimeformat" serializeAs="String">
                <value>yyyy/MM/dd HH:mm:ss UTCzzz</value>
            </setting>
            <setting name="useutc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useutczone" serializeAs="String">
                <value>(GMT+09:00)大阪、札幌、東京 東京 (標準時),M$EB</value>
            </setting>
            <setting name="useutcint" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="useutch" serializeAs="String">
                <value>09</value>
            </setting>
            <setting name="useutcm" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="usems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mstime" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="msstring" serializeAs="String">
                <value />
            </setting>
            <setting name="build" serializeAs="String">
                <value>2024/12/08</value>
            </setting>
            <setting name="json" serializeAs="String">
                <value />
            </setting>
            <setting name="barlen" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="parcent" serializeAs="String">
                <value>395</value>
            </setting>
            <setting name="api" serializeAs="String">
                <value>https://script.google.com/macros/s/AKfycbxAcB-2FLv5fR9Yc5ZSN5F7giGDnvAjduMvwRTLWBai9faFSQaI4bol73klcLM-lsHbKg/exec?game=all</value>
            </setting>
            <setting name="parse" serializeAs="String">
                <value>/data/proseka/name,/data/proseka/start,/data/proseka/end</value>
            </setting>
            <setting name="parse2" serializeAs="String">
                <value>/data/proseka/name,/data/proseka/start,/data/proseka/end</value>
            </setting>
            <setting name="lasttzdatapath" serializeAs="String">
                <value />
            </setting>
            <setting name="readtzifdir" serializeAs="String">
                <value />
            </setting>
            <setting name="usetzdatabin" serializeAs="String">
                <value>Asia/Tokyo</value>
            </setting>
            <setting name="usetz" serializeAs="String">
                <value>False</value>
            </setting>
        </neta.Properties.Settings>
    </userSettings>
</configuration>
